<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="HOME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoiceUi"
            android:label="CHOISE UI" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".classtable" />
        <activity
            android:name=".slidermain"
            android:label="@string/title_activity_slidermain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Doorline" />
        <activity android:name=".GradeList" />
        <activity android:name=".GradesChoicelist" />
        <activity android:name=".AddAllgrades" />
        <activity android:name=".News" />
        <activity android:name=".CopyScience" />
        <activity android:name=".CsieNews" />
        <activity android:name=".NewsWeb" />
        <activity android:name=".AllDepartmentNews" />
        <activity android:name=".AllDepartmentView" />
        <activity android:name=".NewLogin" />
        <activity android:name=".Malingering" />
        <activity android:name=".Malingering_Detail" />
        <activity android:name=".GradeListN" />
        <activity android:name=".Malingering_Application" />
        <activity android:name=".SickApplication" />
        <activity android:name=".SickCause" />
        <activity android:name=".SickUpload"></activity>
    </application>

</manifest>